.lookup-results{
	
	background-color: $color-grey;
	padding: 1em;
	margin: 1em 0;
	display: none;

	h3{
		margin-top: 0;
	}

	.mp-photo{
	  width: 100px;
	  height: 120px;
	  // background-color: blue;

	  img{
	  	max-width: 100%;
	  	max-height: 100%;	
	  }
	}

	.message{
	  padding: 1em;
	  margin-bottom: 1em;
	  background-color: $color-red-light;
	  border: 1px solid $color-red-dark;
	}

	.message:empty{
		display: none;
	}

	.mp-container{
	  display: flex;
	  flex-direction: row;
	}

	.mp-details{
	  margin-left: 1em;
	  background-color: white;
	  display: flex;
	  padding: 1em;
	  width: 100%;
	  flex-direction: column;
	  justify-content: space-between;
	}

	.detail-item{
	  display: flex;
	  flex-direction: row;
	}

	.label{
	  flex-basis: 5em;
	}

	.mp-email{
	  margin-top: 1em;
	}

	input{
		max-width: 20em;
		margin-bottom: 1em;
	}
}