.attrib {
  margin-top: 1em;
  font-size: 0.75em;
}
.attrib img {
  max-width: 8em;
}

.gform_button[disabled] {
  opacity: 0.25;
}

.lookup-mp {
  display: inline-block;
  margin: 1em 1em 1em 0;
}

.start-again {
  display: none;
}

.loaded .start-again {
  display: block;
}

.loading, .loaded .lookup-mp {
  pointer-events: none;
  opacity: 0.25;
}

.gform_footer input[type="submit"] {
  pointer-events: none;
  opacity: 0.25;
}

.loaded .gform_footer input[type="submit"] {
  /* Enable the button if the form has a state 'loaded' */
  pointer-events: auto;
  opacity: 1;
}

.error .ppc-output {
  display: none;
}

.error .lookup-results .ginput_full {
  display: none;
}

.lookup-results {
  background-color: #e0e0e0;
  margin: 1em 0;
}
.lookup-results h3 {
  margin-top: 0;
}
.lookup-results .mp-photo {
  width: 100px;
  height: 120px;
}
.lookup-results .mp-photo img {
  max-width: 100%;
  max-height: 100%;
}
.lookup-results .error-message {
  padding: 1em;
  margin-bottom: 1em;
  background-color: #ea8c80;
  border: 1px solid #b42e1d;
}
.lookup-results .error-message:empty {
  display: none;
}
.lookup-results .mp-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 640px) {
  .lookup-results .mp-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.lookup-results .message {
  margin-bottom: 1em;
}
.lookup-results .start-again {
  margin-bottom: 0;
}
.lookup-results .mp-details {
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  max-width: 100%;
  font-size: 0.75em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 640px) {
  .lookup-results .mp-details {
    font-size: 1em;
    margin-left: 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
.lookup-results .detail-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.lookup-results .label {
  -webkit-flex-basis: 5em;
      -ms-flex-preferred-size: 5em;
          flex-basis: 5em;
}
.lookup-results .mp-website {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.lookup-results input {
  max-width: 20em;
  margin-bottom: 1em;
}

.loading .lookup-results:before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  background-color: #a0a0a0;
  -webkit-animation: loading-bar 1s linear infinite;
          animation: loading-bar 1s linear infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  margin-top: -1em;
}

.lookup-results {
  overflow: hidden;
  -webkit-transition: 0.25s;
          transition: 0.25s;
  position: relative;
  max-height: 0em;
  padding: 0 1em;
}

.loading .lookup-results {
  padding-top: 1em;
  background-color: #e0e0e0;
}

.loaded .lookup-results {
  padding: 1em;
  max-height: 100em;
}

@-webkit-keyframes loading-bar {
  0% {
    left: 0%;
    width: 1em;
  }
  50% {
    left: 25%;
    width: 50%;
  }
  100% {
    left: 100%;
    width: 1em;
  }
}

@keyframes loading-bar {
  0% {
    left: 0%;
    width: 1em;
  }
  50% {
    left: 25%;
    width: 50%;
  }
  100% {
    left: 100%;
    width: 1em;
  }
}
.ppc-row td {
  vertical-align: middle;
}
.ppc-row td input[type="checkbox"] {
  margin: 0;
  text-align: center;
}

.party-alliance {
  border-left: 3px solid #f0ef00;
}

.party-conservative {
  border-left: 3px solid #1950f1;
}

.party-dup {
  border-left: 3px solid #e60000;
}

.party-green {
  border-left: 3px solid #00b601;
}

.party-independent {
  border-left: 3px solid #f3f3f3;
}

.party-labour {
  border-left: 3px solid #e40000;
}

.party-libdem {
  border-left: 3px solid #e89700;
}

.party-kernow {
  border-left: 3px solid black;
}

.party-nhap {
  border-left: 3px solid #1950f1;
}

.party-plaid {
  border-left: 3px solid #f0ef00;
}

.party-respect {
  border-left: 3px solid #00b601;
}

.party-snp {
  border-left: 3px solid black;
}

.party-sinnfein {
  border-left: 3px solid #00b601;
}

.party-sdlp {
  border-left: 3px solid #00b601;
}

.party-tusc {
  border-left: 3px solid #e60000;
}

.party-ukip {
  border-left: 3px solid #ac00ab;
}

.party-uup {
  border-left: 3px solid #1950f1;
}
